#topbar{
    background-color:antiquewhite;
    padding: 14px;
}
#logo{
    color: brown;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
}

.menu-item{
margin: 0;
margin-right: 24px;
font-family: 'Times New Roman', Times, serif;
font-weight: 500;
position: relative;
top: 12px;
cursor: pointer;
font-size: 14px;
float: right;
}

#article-wrapper{
padding: 4% 16%;
}
article{
    padding-bottom: 48px;
    font-size: 24px;
    line-height: 1.4;
}

.article-pic{
    width: 300px;
    height:300px;
    float: left;
    margin-right: 16px;
}

.second-pic{
    width: 300px;
    height: 300px;
    float: right;
    margin-left: 16px;
}